*{
    font-family: 'Roboto';
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#home {
    display:flex;
    animation-name: background-animation;
    animation-duration: 1s;
    background-image: url('petr2.jpg');
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    background-position: center;
}

.page {
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background: linear-gradient(to top,#00B294,#00BCf2);
}

#end-screen {
    justify-content: space-around;
}

h1 {
    z-index: 99;
    font-size: 50px;
    font-family: 'Bungee';
    color: blue;
    animation-name: writing-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

h2 {
    z-index: 99;
    font-size: 40px;
    font-family: 'Bungee';
    color: rgb(241, 255, 92);
    text-align: center;
}
.hackpetr {
    height: 70vh;
}

#hackpetr-up {
    display: none;
}

#hackpetr-down {
    display: block;
}

button {
    font-size: 20px;
    padding: 50px 100px;
    color: yellow;
    background-color: blue;
    border-radius: 12px;
    animation-name: writing-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

button:hover {
    color: blue;
}

#closing-image {
    height: 40vh;
}

@keyframes writing-animation {
    from {color: blue;}
    to {color: rgb(254, 254, 95);}
  }

@keyframes background-animation {
    from {background-image: url('petr2.jpg');}
    to {background-image: url('petr.jpg');}
  }
  #end-screen {overflow-y:auto;}