#home {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
    animation-name: background-animation;
    animation-duration: 5s;
    background-image: url('duocommie.jpg');
}

h1 {
    font-size: 50px;
    font-family: 'Bungee';
    animation-name: font-animation;
    animation-duration: 5s;
}

button {
    font-size: 20px;
    font-family: 'Roboto';
    padding: 50px 100px;
    background-color: red;
}

@keyframes font-animation {
    from {background-color: blue;}
    to {background-color: yellow;}
  }

@keyframes background-animation {
    from {background-image: url('duocommie.jpg');}
    to {background-image: url('petr.jpg');}
  }